<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="dlrjs home rewrite">
                    <match url="^$" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="dlrjs mrz rewrite">
                    <match url="^mrz-scanner.html" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="dlrjs vin rewrite">
                    <match url="^vin.html" />
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
